body {
    background-color: #B9E0FF
}
hr {
    
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 50px;
}
h1{
    color:#8D72E1
}
h2 {
    color: #8D9EFF;
}